<div class="nav-container">
    <span class="nav-title">
        {{ navTitle }}
    </span>

    <div class="profile-container" (click)="toggleDropdown()">
        <div class="profile-name">
        <div class="profile" [ngStyle]="{ 'background-color': getProfileColor() }">
            <span class="initial">{{ getInitial() }}</span>
        </div>
        {{ firstname }}
        <i class="bi bi-chevron-down"></i>
        </div>
        <div class="dropdown-content" [ngClass]="{ 'show': dropdownOpen }">
            <button (click)="logout()">Logout</button>
        </div>
    </div>
</div>
