@media (max-width:500px) {
    .key-row{
        justify-content: space-between;
        // margin-bottom: 1rem;
    }
    .copy{
        height: fit-content;
        margin-top: auto;
        margin-bottom: 7px;
        font-size: 0.7rem;
        font-weight: 500;
    }
    .api-key{
        margin-bottom: 10px;
    }

    .keys{
        min-width: 95%;
    }
}