@import './../../../color.scss';


.board {
  background-color: $backgroundWhite;
  height: 60vh;
  min-width: 60vw;
  border: 2px solid $BorderGrey;
  border-radius: 10px;
  margin: auto;
  overflow: auto;
}


.step-container {
  border: 1px solid $BorderGrey;
  background-color: $darkBlue;
  color: $fontWhite;
  padding: 1rem;
  border-radius: 10px;
  font-weight: 600;
  font-size: 0.8rem;
  width: 200px;
  text-align: center;

}

.step-heading {
  font-size: 0.8rem;
  font-weight: 600;
}

.step-content {
  font-size: 0.6rem;
  font-weight: 600;
}

.save-workflow-btn {
  margin: 2rem;
  border-radius: 7px;
  background-color: $darkBlue;
  color: $fontWhite;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 10px 1rem;
  margin-left: auto;
  display: flex;
}


.workflows,
.create-workflow-container {
  margin: 1rem 50px;
}

.workflow-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
  height: 4rem;
}

.card-content {
  font-size: 0.7rem;

}

.workflow-card-container {
  max-width: 100%;
  // width: 1100px;
  justify-content: space-between;
  margin: auto;
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.workflow-card {
  border: 2px solid $BorderGrey;
  padding: 15px 10px;
  width: 210px;
  height: 280px;
  border-radius: 10px;
  margin: 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.workflow-card .card-content{
  height: 50%;
}

.credits {
  background-color: $backgroundGreen;
  color: $fontWhite;
  font-size: 0.8rem;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: 600;
  line-height: 1.2rem;
}

.card-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.create-workflow-container {
  margin: 2rem;
}


.api-list-container {
  height: 120px;
  overflow-x: auto;
  width: 100%;
  padding: 1.2rem 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  margin-bottom: 2rem;
  border-radius: 15px;
  justify-content: space-between;
}

.api-step {
  display: flex;
  color: $fontWhite;
  background-color: $darkBlue;
  padding: 8px 1rem;
  border-radius: 8px;
  margin-right: 10px;
  min-width: 120px;
  font-size: 0.8rem;
  font-weight: 500;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.workflow-create-btn{
  background-color: $darkBlue;
  color: $fontWhite;
  font-size: 0.8rem;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.workflow-title-container{
  display: flex;
  justify-content: space-between;
}

.modal-body label{
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.5rem 0;
}

.modal-body .form-group{
  margin-bottom: 1rem;
}

.modal-body input, .modal-body textarea{
  font-size: 0.8rem;
  font-weight: 500;
  background-color: $backgroundWhite !important;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.modal-body textarea{
  height: 100px;
}

.modal-header{
  background-color: $darkBlue;
  color: $fontWhite;
}

.btn-close{
  color: $fontWhite !important;
}

.modal-content{
  border: 1px solid $darkBlue;
} 

.workflow-submit{
  padding: 7px 1rem;
  background-color: $darkBlue;
  color: $fontWhite;
  font-weight: 500;
  border-radius: 7px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.no-data-found{
  display: flex;
  min-height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  // border: 1px solid;
  align-items: center;
}