@media (max-width:500px) {
    .workflow-title{
        font-size: 1rem;
    }   

    .workflow-create-btn{
        padding: 0.5rem 1rem;
    }

    .workflows{
        margin: 1rem;
    }

    .workflow-card-container{
        width: auto;
        justify-content: space-around;
    }
}