<div>

      <app-message-modal [messages]="messages"></app-message-modal>

      <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngFor="let message of messages" class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message }}
                </div>
            
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    






    <div class="search-container">
        <div class="left-filters">


            <div class="dropdown-container">
                <label for="industry-dropdown">Industry</label>
                <div class="dropdown">
                    <select [(ngModel)]="sector" (ngModelChange)="getAllAPIs()" id="industry-dropdown" aria-label="Industry" [class.selected]="sector">
                        <option value="" disabled selected hidden>Select the Industry</option>
                        <option *ngFor="let option of sectors" [value]="option">{{ option }}</option>
                    </select>
                    <button *ngIf="sector" class="clear-button" (click)="clearSelection()">×</button>
                </div>
            </div>
            
                    
        </div>

        <div class="right-filter">
            <div>

                <label for=""></label>
                <div class="input-group search-field-container">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search..." aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="searchText" (ngModelChange)="getAllAPIs()">
                </div>
            </div>

        </div>

    </div>


    <div class="container api-container">
        <!-- <app-api-card *ngFor="let api of apis let i=index" ></app-api-card> -->
        <app-api-card *ngFor="let api of apis; let i = index" [api]="api" [index]="i"></app-api-card>

        <div *ngFor="let card of range(dummyCardCount);" class="dummy-card">
            <!-- dummy-card -->
        </div>

    </div>

</div>