@media (max-width:500px) {
    .analytics-container{
        padding-left: 0;
        margin: auto 1rem;
    }

    .line-chart-container{
        margin: 1rem auto;
    }
    .workflows{
        width: 100%;
        margin: 1rem auto;
    }

    // .dounut{
    //     width: 90% !important;
    // }

    .dounut-container{
        width: 270px;
        height: 230px;
    }
    .recharge-container, .recharge-history-container{
        width: 85% !important;
    }

    .first-analytics-row .flex-col{
        flex-direction: row;
        justify-content: space-between;
        width: 85%;
    }

    .count-container{
        width: 120px;
        // height: 100px;
        min-width: auto;
        font-size: 0.8rem;
        margin: auto !important;
        margin-bottom: auto !important;
        margin-top: auto !important;
    }
    .count-container .recharge-content{
        font-size: 0.8rem;
        margin-bottom: 5px;
    }
    .count-value{
        font-size: 1rem;
    }

    .second-analytics-row{
        margin: auto;
    }

    .count-container-flex{
        width: 90vw;
        flex-wrap: wrap;

        .flex-col{
            flex-direction: column;
            width: 45%;
            margin-right: auto !important;
            margin-left: auto;

            .count-container{
                margin-bottom: 1rem !important;
            }
        }
    }
}