@import "../../../color.scss";

.flex-container{
    margin: 1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.header-flex-row, .flex-row{
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    font-size: 0.8rem;
    border: 1px solid $BorderWhite;
    border-top: 0px;
    height: 2.2rem;
    align-items: center;
    color: $fontGrey;
    font-weight: 500;
}

.data-container .flex-col:first-child{
    color: $darkBlue;
}

.headers{
    background: $darkBlue;
    font-weight: 600;
    color: $fontWhite !important;
    border-color: $darkBlue;

}

.headers{
    border-radius: 10px 10px 0 0;
}
// .headers:first-child{
//     border-radius: 10px 0 0 0;
// }

// .headers:last-child{
//     border-radius: 0 10px 0 0;
//     background-color: black;
// }

// .last-row:first-child{
//     border-radius: 0 0 0 10px;
//     border-color: blue;

// }

// .last-row:last-child{
//     border-radius: 0 0 10px 0;

// }

.last-row{
    border-radius: 0 0 10px 10px;
}

.flex-col{
    display: flex;
    justify-content: left;
    padding: 0 1rem;
}

.bi-wallet2{
    // background-color: $darkBlue;
    color: $darkBlue;
    font-weight: 1000;
    padding: 5px;
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
    
}


.workflow-submit{
    padding: 7px 1rem;
    background-color: $darkBlue;
    color: $fontWhite;
    font-weight: 500;
    border-radius: 7px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  }
    

  .form-group{
    margin-bottom: 1rem;
  }