@media (max-width:500px) {
    .remark-input{
        max-width: 100% !important;
        width: 100%;
    }

 .title{
    font-size: 1rem;
 }   
 .help-container{
    margin: 1rem;
    padding: 1rem 0;
 }

 .ticket-container{
    margin: auto 1rem;
    max-width: 85%;
    margin-bottom: 2rem;
 }

 .table-container{
    margin: 1rem;
    display: block;
    margin-left: 0;
    margin-right: 2rem;
 }
}